 .u-section-1 {
  background-image: none;
  min-height: 12px;
}

.u-section-1 .u-image-1 {
  height: 348px;
  object-position: 50% 60.62%;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -340px calc(((100% - 1140px) / 2) + -65px) 0 calc(((100% - 1140px) / 2) + 736px);
}

.u-section-1 .u-blog-1 {
  width: 1140px;
  margin: 339px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 17.25px));
  min-height: 860px;
  grid-gap: 23px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-4 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-1 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-5 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-2 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-8 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-3 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-9 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-4 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-12 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-5 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-13 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-6 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 16px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-16 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-7 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-17 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-8 {
  margin-top: 2px;
  color: rgb(17, 17, 17) !important;
  font-size: 1.5em;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 16px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-19 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-20 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-9 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-21 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-10 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 16px 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-7 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-23 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-24 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-11 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-25 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-12 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 16px 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-8 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-27 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-28 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-13 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-29 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-14 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 16px 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 188px;
  margin: 0 auto;
}

.u-section-1 .u-image-9 {
  height: 188px;
  width: 207px;
  margin: 10px auto 0 27px;
}

.u-section-1 .u-text-31 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px 33px 0 38px;
}

.u-section-1 .u-text-32 {
  margin: 14px 123px 0 27px;
}

.u-section-1 .u-icon-15 {
  margin-top: 2px;
  font-size: 1.5626em;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-33 {
  margin: -38px 33px 0 141px;
}

.u-section-1 .u-icon-16 {
  margin-top: 2px;
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + -65px);
    margin-left: calc(((100% - 940px) / 2) + 636px);
  }

  .u-section-1 .u-blog-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 709px;
  }

  .u-section-1 .u-image-2 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 175px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 189px;
    background-position: 50% 50%;
    width: 188px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 0;
    width: 175px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -65px);
    margin-left: calc(((100% - 720px) / 2) + 526px);
  }

  .u-section-1 .u-blog-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.5px));
    min-height: 2172px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 153px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -65px);
    margin-left: calc(((100% - 540px) / 2) + 436px);
  }

  .u-section-1 .u-blog-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-top: -77px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + -65px);
    margin-left: calc(((100% - 340px) / 2) + 336px);
  }

  .u-section-1 .u-blog-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 125px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -30px;
  }
}
.u-columns-wrappers{
  justify-content: space-between;
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}